/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
html, body {
    margin: 0 ;
   font-size: 20px;
   background-color: #ddd;
}

img {
    width: 150px;   
}
